@import "../../static/css/mixin";
@import "../../static/iconfont/iconfont.scss";
button.plain {
    padding: 0;
    color: inherit;
    font-size: inherit;
    margin: inherit;
    text-align: initial;
    line-height: initial;
    border: 0;
    box-sizing: initial;
}

.goods-li {
    @include fj();
    padding: 30px 0;
    border-bottom: 1PX solid $border;
    .ms-cd {
        position: absolute;
        bottom: -2px;
        background: #f39b8b;
        color: #fff;
        border-radius: 15px 15px 15px 0;
        padding: 0 5px;
        font-size: 24px;
        @include fj(start);
        align-items: center;
    }
    .ms-cd-item {
        // padding-bottom: 4px;
    }
    .img-wrap {
        @include wh(240px, 240px);
        position: relative;
        .type-tag {
            position: absolute;
            top: -5px;
            left: 0;
            font-size: 22px;
            line-height: 2.2;
            border-radius: 15px 15px 15px 0;
            padding: 0 10px;
        }
        .ed-ms {
            background: $bg-color-panel;
            color: #fff;
        }
        .ed-ys {
            background: $color-ex;
            color: #fff;
        }
        .ed-crd {
            font-size: 80rpx;
            line-height: 0.5;
            background: $color-brand-light;
            color: #fff;
        }
        .img {
            @include wh(240px, 240px);
        }
    }
    .right-wrap {
        padding: 5px 0 0 25px;
        flex: 1;
    }
    .title {
        @include ddd();
        width: 440px;
        font-weight: 500;
    }
    .desc {
        @include ddd();
        width: 440px;
        color: $font-default;
        font-size: 26px;
    }
    .sale-wrap {
        border: $color-dan 1PX solid;
        border-radius: 28px;
        text-align: center;
        line-height: 28px;
        height: 28px;
        color: $color-brand-light;
        position: relative;
        width: 216px;
        margin: 5px 0;
        font-size: 22px;
        transform: scale(.9);
        margin-left: -10px;
        overflow: hidden;
        .sale-slide {
            position: absolute;
            background: #fdf8f7;
            height: 34px;
            z-index: -1;
        }
    }
    .shopping-wrap {
        @include fj();
        margin-top: 16px;
        align-items: center;
        .price {
            @include fj('center');
            flex-direction: column;
        }
        .counter {
            text-decoration: line-through;
            font-size: 26px;
            color: #ccc;
            letter-spacing: -1px;
        }
        .retail {
            color: $color-brand-light;
            font-size: 24px;
            letter-spacing: -2px;
        }
        .vip {
            color: $color-brand;
            font-size: 40px;
            font-weight: 600;
            @include fj(flex-start);
            align-items: center;
            line-height: 1;
            margin-left: -5px;
            .label {
                letter-spacing: -1px;
                font-size: 22px;
                margin-left: 8px;
                border-radius: 10px;
                border: 1PX solid $color-dan;
                color: $color-brand-light;
                line-height: 1.1;
                padding: 0 4px;
            }
        }
        .at-button--small {
            letter-spacing: -3px;
            height: 56px;
            line-height: 54px;
        }
    }
}

.goods-li.mini {
    flex-direction: column;
    width: 280px;
    margin: 0 8px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    .img-wrap {
        @include wh(280px, 240px);
        padding: 0 20px;
        box-sizing: border-box;
        .img {
            text-align: center;
        }
    }
    .sale-wrap {
        width: 170px;
    }
    .right-wrap {
        padding: 10px 20px 0;
        flex: auto;
    }
    .title,
    .desc {
        width: 280px;
    }
    .desc {
        min-height: 36px;
    }
    .shopping-wrap {
        margin-top: 0;
    }
    .vip {
        font-size: 32px;
    }
    .counter {
        font-size: 22px;
    }
    .shopping {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $color-primary;
        position: absolute;
        bottom: 75px;
        right: 20px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 3px 3px $border;
        .cartImg {
            width: 100%;
            height: 100%;
        }
    }
}