@import "../../static/css/mixin";
.index {
    .scroll-view-wrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .ms-wrap {
        border: 5px solid $color-brand-light;
        margin-top: 10px;
        border-radius: 10px;
    }
    .type-tag {
        position: absolute;
        top: 11px;
        left: 0;
        font-size: 22px;
        line-height: 2.2;
        border-radius: 15px 15px 15px 0;
        padding: 0 10px;
        background: $bg-color-panel;
        color: #fff;
    }
    .curtain-img {
        @include wh(640px, 800px)
    }
    .addmyapp {
        position: fixed;
        top: 8px;
        right: 10px;
        padding: 5px 0 5px 10px;
        font-size: 24px;
        background: $color-dan;
        z-index: 10;
        border-radius: 50px;
        color: #555;
        .arr {
            position: absolute;
            right: 128px;
            top: -5px;
            width: 12px;
            height: 12px;
            background: $color-dan;
            transform: rotate(45deg);
            border: 1px solid $color-dan;
            border-bottom: 0;
            border-right: 0;
        }
    }
    .help {
        padding: 0 8px 0 0;
        font-size: 24px;
        background: $color-dan;
        z-index: 10;
        border-radius: 50px;
        color: #555;
        @include fj();
        align-items: center;
        .ava-wrap {
            @include wh(50px, 50px);
            margin-right: 5px;
            .image {
                @include wh(50px, 50px);
                border-radius: 50%;
            }
        }
        .text-wrap {
            flex: 1;
        }
    }
    padding-top: 198px;
    .community-wrap {
        font-size: 36px;
        font-weight: 400px;
        @include fj('start');
        display: inline-flex;
        align-items: center;
        image {
            margin: 0 10px 0 0;
            @include wh(40px, 40px);
        }
        .ed-back {
            font-size: 90%;
            margin: 0 10px;
        }
    }
    @mixin fixTop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        background: #fff;
    }
    .index-top {
        @include fixTop();
        padding: 0 20px;
        z-index: 2;
        @include fj();
    }
    .search-wrap {
        @include fixTop();
        padding-left: 10px;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    .at-tabs .at-tabs__header {
        @include fixTop();
        top: 134px;
    }
    .cate-img {
        margin: 30px 0 20px;
        @include wh(100%, auto);
        .img {
            border-radius: 5px;
            @include wh(100%, auto);
        }
    }
}

.index-search {
    padding: 30px 0;
}