@import "../../static/css/mixin";
.code-wrap {}

.input {
    height: 100px;
    background: #fff;
    padding: 10px 40px;
    font-size: 80px;
    text-align: center;
}

.at-modal__container{
    width: 94% !important;
}