
@import "../../static/css/mixin";

.pickup-page {
    .input {
        height: 100px;
        background: #f8f8f8;
        padding: 10px 40px;
        font-size: 80px;
        text-align: center;
    }
    
    .at-modal__container{
        width: 94% !important;
    }
    .left .erduufont{
        font-size: 30px;
    }
}
