@import "../../static/css/mixin";
@import "../../static/iconfont/iconfont.scss";

.logo-wrap {
    padding: 50px 0;
    @include fj('space-between');
    text-align: center;
    align-items: center;
    .logo {
        flex: 1;
        .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 10px solid #eee;
        }
    }
    .ed-back {
        margin-left: -5px;
        color: #ededed;
    }
}

.go {
    transform: rotate(180deg);
    font-size: 36px;
    color: $font-info;
    display: inline-block;
}
