@import "./static/css/mixin.scss";
@import "./static/iconfont/iconfont.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/countdown.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/steps.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
view,
text {
    color: $font-primary;
    font-size: 30px;
}

.wrap {
    padding: 0 20px 20px;
}

.p {
    color: $font-info;
    margin-top: 10px;
    font-size: 24px;
}

.tac {
    text-align: center;
}

.blue {
    color: #0d98f1;
}

.blue-bg {
    background: #0d98f1;
}

.green {
    color: #44b549;
}

.green-bg {
    background: #44b549;
}

.purple {
    color: purple;
}

.purple-bg {
    background: purple;
}

.gray {
    color: gray;
}

.gray-bg {
    background: gray;
}

.yellow {
    color: #f8a101;
}

.yellow-bg {
    background: #f8a101;
}

.red {
    color: red;
}

.red-bg {
    background: red;
}

.go {
    transform: rotate(180deg);
    font-size: 36px;
    color: $font-info;
    display: inline-block;
}

.down {
    transform: rotate(-90deg);
    font-size: 36px;
    color: $font-info;
    height: 56px;
    line-height: 56px;
    display: inline-block;
}

.h1 {
    font-size: 80px;
}

.h2 {
    font-size: 60px;
}

.h3 {
    font-size: 40px;
}

.nodata {
    text-align: center;
    display: block;
    padding: 50px;
    color: #ddd;
    .label {
        margin: -40px 0 0 -20px;
        color: #ddd;
    }
    .erduufont {
        display: block;
        font-size: 400px;
        color: #ddd;
    }
}

.pad40 {
    padding: 40px !important;
}

// taro-ui
.wrap {
    .at-button__text {
        color: #fff;
    }
    .at-divider {
        margin: 0 auto;
    }
    .at-search-bar:after {
        border-bottom-width: 0;
    }
    .at-tabs__item {
        padding: 10px 0 5px;
        margin: 0 25px 0px;
        font-size: 30px;
        color: $font-primary;
        &:after {
            height: 2PX;
        }
    }
    .at-tabs__item--active {
        color: $font-active;
        font-weight: 500;
        font-size: 36px;
    }
    .at-tabs__underline {
        display: none;
    }
    .toast-body-content__info text{
        color: #fff;
    }
    .at-countdown__item .at-countdown__separator{
        padding: 0 3px !important;
    }
    .center{
        position: absolute;
        top: 40%;
        left: 50;
        transform: translateX(-50%);
    }
}
